body{

 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
}
h1{
    border-bottom: 1px solid rgb(221, 220, 223);
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

    .jk{
        position: relative; 
        width: 100%;
        max-width: 1000px;
        min-height: 1000px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        background-color: rgb(47, 39, 114);
        margin: 5px;


    }

.jk .left_side{
    position: relative; 
    padding: 40px;
    background: rgb(31, 31, 83);
    color: azure;
  
   


}
.jk .right_side{
    position: relative; 
    padding: 40px;
    background: rgb(149, 183, 185);
    color: rgb(10, 10, 10);
}
.jk .pic{
   position: relative;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   overflow: hidden;
}

.jk .pic img{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
